html
head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Sample ES6/JSPM/ReactJS Website - Version 1.0")
    meta(name="author", content="J. Scott Ellis")

    title #{title}
    link(rel="shortcut icon", href="/bellies/resources/img/favicon.ico")

    script(src="/jspm_packages/system.js")
    script(src="/config.js")

body(class="header-fixed")
    block content
